---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

  <ul class="post-meta">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <span>{{ post.date | date:"%Y-%m-%d" }}</span>
        <i class="fa fa-archive" aria-hidden="true"></i>
        <span>{{post.categories}}</span>
        {% if post.tags != empty %}
        <i class="fa fa-tags" aria-hidden="true"></i>
        <span>{{post.tags}}</span>
        {% endif %}
        <span>字数:
            {{ post.content | strip_html | strip_newlines | size }}
        </span>
 </ul>

    {{ post.content | strip_html | truncate:170 }}
  </div>
  {% if forloop.last == false %}
  <hr>
  {% endif %}
  {% endfor %}
</div>

<div class="pagination">
 {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">上一页</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">上一页</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">上一页</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">下一页</a>
  {% else %}
    <span class="pagination-item older">下一页</span>
  {% endif %}
 
</div>

